/*
###################################################################################
#                                  Copyright 2020                                 #
#                                wnm210 & vave Team                               #
#                                                                                 #
#                                                                                 #
#                                only for bigg boys                               #
#                                                                                 #
###################################################################################
*/

body {
    font-family: 'Open Sans', sans-serif, Helvetica, arial, sans-serif;
    background: #000;
    color: white;
    margin: 0;	
}

.first {display: none;}
.second {display: none;}

.cat {
    margin: auto;
    display: block;
}

#box {
    width: 70px;
    height: 70px;
    display: none;
    position: relative;
}

.title {
    margin-top: 10px;
    text-align: center;
    font-weight: 800;
    font-size: 32px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.description {
    color: #99AAB5;
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
}

#reactiontime {
    text-align: center;
    color: #99AAB5;
    font-size: 12px;
    font-weight: bold;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}