/*
###################################################################################
#                                  Copyright 2020                                 #
#                                wnm210 & vave Team                               #
#                                                                                 #
#                                                                                 #
#                                only for bigg boys                               #
#                                                                                 #
###################################################################################
*/

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif, Helvetica, arial, sans-serif;
	background-color: #23272A;
	position: relative;
	box-sizing: border-box;
    color: rgba(255,255,255,0.7);
	margin: 0;
	outline: 0;
	border: 0;
	filter: blur(0px);
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

/* to jest od blura przy ladowaniu, mozesz zrobic lepsze */
.blru {
	filter: blur(50px);
}

pre {
	background-color: #000;
	border-radius: 4px;
	height: 150px;
	overflow: auto;
}

hr {
	border: 1px medium rgba(255, 255, 255, 0.1);
}

.pre {
	margin-left: 5px;
}



/*
# STREAM ##000 to jest od /w2g
*/

.stream {
	margin-top: 25px;
	height: 408px;
}

.stream .live {
	height: 408px;
	width: 650px;
	border-radius: 5px;
	border: none;
}

.stream .chat {
	height: 408px; 
	width: 350px;
	border-radius: 5px;
	border: none;
}

.stream .versitment {
	border: #000 solid 0.1px;
	background: #fff;
	width: 600px;
	height: 102px;
	line-height: 202px;
	text-align: center;
	color: #99AAB5;
	position: absolute;
	bottom: 0;
}

.stream .versitment .x {
	cursor: pointer;
    margin-right: 10px;
    top: 0;
	right: -5;
	line-height: 1;
	position: absolute;
}

/* 
# NOTIFICATIONS ##001 to jest od powiadomien
*/

.notification {
	margin-top: 12px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -2px;
	border-radius: 5px;
	width: 1195;
	transition-duration: 0.2s;
	padding: 12px;
}

.notification:hover {
	transform: scale(1.011);
}

.notification h1 {
	font-size: 18px;
	font-weight: 500;
	color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 0;
	margin: none;
}

.notification strong {
	font-weight: 800;
}

.notification-box .closebtn {
	margin-left: 15px;
	margin-right: 2px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
	vertical-align: middle;
}


.notification-box-sticky {
	position: -webkit-sticky;
	position: sticky;
	top: -3px;
}

.notification-box .--normal {background: linear-gradient(270deg,#e292aa,#b473f5);}
.notification-box .--blue {background: blue}
.notification-box .--yellow {background: yellow}
.notification-box .--red {background: #ed4e4e;}
.notification-box .--green {background: #43b581}
.notification-box .--black {background: #000}
.notification-box .--white {background: #fff}
.notification-box .bottom {margin-bottom: 25px;}
.notification-box .closebtn:hover {color: #f3f3f3d5;}


/*
# POPUP 1 ##002 to jest od popupow na dashboardzie
*/

.popup1_overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.9);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.popup1_overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup1 {
	margin: 2% auto;
	padding: 20px;
	background: #2C2F33;
	border-radius: 5px;
	width: 420px;
	height: 160px;
	position: relative;
	transition: all 0.4s ease-in-out;
}

.popup1 hr {
	border: 1px medium rgba(255, 255, 255, 0.1);
	margin: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
}

.popup1 h2 {
	margin-top: 0;
	color: #fff;
	font-family: Tahoma, Arial, sans-serif;
}

.popup1 .close {
	position: absolute;
	top: 14px;
	right: 18px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}

.popup1 .close:hover {
	color: RED;
}

.popup1 .content {
	position: absolute;
	max-height: 510px;
	overflow: auto;
	width: 420px;
	height: 400px;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

.popup1 .footer {
	bottom: 20px;
	left: 20px;
}

.popup1 .shineBut {
	height: 35px;
	width: 100px;
	line-height: 35px;
	position: relative;
	overflow: hidden;
	display: block;
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;
	text-align: center;
	background-color: #43b581;
}




/*
# HERO SECTION ##003 to jest od hero na /index
*/

.hero {
	font-family: 'Poppins', Helvetica, arial, sans-serif;
	padding-top: 200px;
	padding-bottom: 300px;
	color: white;
}

.hero h1 {
	text-transform: none;
	font-size: 38px;
	line-height: 1.3;
	text-align: center;
}

.hero p {
	font-size: 19px;
	margin-top: 15px;
	margin-bottom: 40px;
	text-align: center;
	line-height: 1.8;
	color: #ffffffb3;
}

.hero a.blue {
	font-family: 'Open Sans', Helvetica, arial, sans-serif;
	background-color: #7289DA;
	transition-duration: 0.4s;
	text-decoration: none;
	border-radius: 4px;
	padding: 13px 60px;
	margin-right: 5px;
	user-select: none;
	font-weight: 600;
	min-height: 32px;
	margin-left: 5px;
	cursor: pointer;
	font-size: 18px;
	line-height: 1;
	border: none;
	color: white;
}

.hero a.blue:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.5);
}

.hero a.black {
	font-family: 'Open Sans', Helvetica, arial, sans-serif;
	background-color: #000;
	transition-duration: 0.4s;
	text-decoration: none;
	border-radius: 4px;
	padding: 13px 60px;
	margin-right: 5px;
	user-select: none;
	font-weight: 600;
	min-height: 32px;
	margin-left: 5px;
	cursor: pointer;
	font-size: 18px;
	line-height: 1;
	border: none;
	color: white;
}

.hero a.black:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.5);
}

.hero a.gold {
	font-family: 'Open Sans', Helvetica, arial, sans-serif;
	background-color: gold;
	transition-duration: 0.4s;
	text-decoration: none;
	border-radius: 4px;
	padding: 13px 60px;
	margin-right: 5px;
	user-select: none;
	font-weight: 600;
	min-height: 32px;
	margin-left: 5px;
	cursor: pointer;
	font-size: 18px;
	line-height: 1;
	border: none;
	color: white;
}

.hero a.gold:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.5);
}

/*
# THANKS SECTION ##004 to jest od /thanks
*/

.ty {
	font-family: 'Poppins', Helvetica, arial, sans-serif;
	padding-top: 111px;
	padding-bottom: 111px;
	color: white;
}

.ty h1 {
    text-transform: none;
    font-size: 38px;
    line-height: 1.3;
    text-align: center;
}

.ty p {
    font-size: 19px;
    margin-top: 15px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.8;
    color: #ffffffb3;
}

.ty .container {
	margin-left: auto;
	margin-right: auto;
	width: 1059px;
	height: 500px;
}

.ty .card {
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #1a1a1a;
	border-radius: 10px;
	width: 323px;
	height: 238px;
	float: left;
	text-align: center;
}

.ty .card .title {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	line-height: 32px;
	color: white;
}

.ty .card .description {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 18px;
	text-align: center;
	font-weight: 400;
	line-height: 21px;
	color: #99AAB5;
}


/*
# SHARDS SECTION ##005 to jest od /shards
*/

.shards {
	font-family: 'Poppins', Helvetica, arial, sans-serif;
	padding-top: 111px;
	padding-bottom: 111px;
	color: white;
}

.shards .title {
    text-transform: none;
    font-size: 38px;
    line-height: 1.3;
    text-align: center;
	font-weight: bold;
}

.shards .description {
	font-size: 19px;
    margin-top: 15px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.8;
	color: #ffffffb3;
}

.shards .container {
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	max-width: 500px;
	height: 60px;
}

.shards .container .shardOp {
	border: 3px solid transparent;
	float: left;
	color: #43b581;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	width: 46px;
	height: 46px;
	line-height: 50px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	margin-right: 10px;
	margin-bottom: 10px;
	transition-duration: 0.3s;
}

.shards .container .shardOp:hover {border: 3px solid #43b581;color: white;}

.shards .container .shardNop {
	border: 3px solid transparent;
	float: left;
	color: #f04747;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	width: 46px;
	height: 46px;
	line-height: 50px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	margin-right: 10px;
	margin-bottom: 10px;
	transition-duration: 0.3s;
}

.shards .container .shardNop:hover {border: 3px solid #f04747;color: white;}

.shards .container .shardTnop {
	border: 3px solid transparent;
	float: left;
	color: YELLOW;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	width: 46px;
	height: 46px;
	line-height: 50px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	margin-right: 10px;
	margin-bottom: 10px;
	transition-duration: 0.3s;
}

.shards .container .shardTnop:hover {border: 3px solid YELLOW;color: white;}


#servicesTable {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#servicesTable td, #servicesTable th {
	border: 1px solid #43b581;
	padding: 8px;

}

#servicesTable tr:nth-child(even) {
	background-color: #23272A;
}

#servicesTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #43b581;
	color: white;
}

/*
# DONUT SECTION ##007 to jest od /donate
*/

.donut {
	font-family: 'Poppins', Helvetica, arial, sans-serif;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

.donut .h1 {
    text-transform: none;
    font-size: 38px;
    line-height: 1.3;
    text-align: center;
}

.donut .h2 {
    text-transform: none;
    font-size: 30px;
    line-height: 1.3;
    text-align: center;
}

.donut .p1 {
	font-size: 19px;
    margin-top: 15px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.8;
	color: #ffffffb3;
}

.donut .p2 {
	font-size: 19px;
    margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 5px;
	margin-right: 5px;
    text-align: center;
    line-height: 1.8;
	color: #ffffffb3;
}

.donut .container {
	margin-left: auto;
	margin-right: auto;
	width: 936px;
	height: 455px;
}

.donut .card {
	float: left;
	background-color: #2C2F33;
	width: 300px;
	height: 380px;
	border-radius: 15px;
	margin-left: 5px;
	margin-right: 5px;
}



/*
# TERMS SECTION ##008 to jest od /privacy, na poczatku robilem termsy ale potem zrobilem privacy i zapomnialem zmienic klas
*/

.terms {
	margin-left: auto;
	margin-right: auto;
	width: 850px;
}

.terms .title {
	color: white;
	font-size: 34px;
	font-weight: bold;
}

.terms .description {
	color: #99AAB5;
	font-size: 18px;
}


/*
# SERVER SELECT SECTION ##009 to jest od /dashboard/
*/

.serverSelect {
	font-family: 'Poppins', Helvetica, arial, sans-serif;
	color: white;
}

.serverSelect .serverTitle {
    text-transform: none;
    font-size: 30px;
	line-height: 1.3;
	text-align: center;
}

.serverSelect .container {
	/*border: 1px dotted #99AAB5;*/
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

.serverSelect .container .card {
	/*border: 1px dotted #99AAB5;*/
	background-color: #18191c;
	width: 988px;
	height: 105px;
    border-radius: 8px;
	position: relative;
	margin: 5px;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.3s;
}

.serverSelect .container .icon {
	/*border: 1px dotted #99AAB5;*/
	float: left;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	margin-left: 15px;
	margin-top: 15px;
	margin-right: 10px;
}

.serverSelect .container .title {
	/*border: 1px dotted #99AAB5;*/
	margin-top: 5px;
	float: left;
	width: 880px;
	height: 40px;
	margin-left: auto;
	font-size: 28px;
	font-weight: bold;
	color: white;
	margin-top: 10px;
	margin-bottom: 15px;
	margin-right: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.serverSelect .container .button {
	/*border: 1px dotted #99AAB5;*/
	border-radius: 5px;
	padding: 8px 24px;
	line-height: 16px;
	margin-right: 5px;
	font-size: 16px;
}

.serverSelect .container .blue {
	background-color: #7289DA;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.3s;
}

.serverSelect .container .blue:hover {
	background-color: #2a5ee8;
}

.serverSelect .container .gray {
	background-color: #2C1C25;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.3s;
}

.serverSelect .container .gray:hover {
	background-color: #2C2F33;
}

/*
# CARDS SECTION ##010 to jest od /index#functions
*/

.cards {
	margin-top: 0;
	width: 100%;
	height: 640px;
	background: #7289DA;
}

.cards h1 {
	font-family: 'Poppins', Helvetica, arial, sans-serif;
	text-align: center;
	color: white;
	font-size: 40px;
	margin-bottom: 1px;
	line-height: 1;
}

.cards p {
	font-size: 19px;
	margin-top: 1px;
	margin-bottom: 50px;
	text-align: center;
	line-height: 1.8;
	color: #ffffffb3;
}

.cards2 h1 {
	font-family: 'Poppins', Helvetica, arial, sans-serif;
	text-align: center;
	color: white;
	font-size: 40px;
	margin-bottom: 1px;
	line-height: 1;
}

.cards2 p {
	font-size: 19px;
	margin-top: 1px;
	margin-bottom: 50px;
	text-align: center;
	line-height: 1.8;
	color: #ffffffb3;
}

.cards .container {
	width: 1251px;
	height: 521.94px;
	margin-left: auto;
	margin-right: auto;
}

.cards .card {
	width: 385px;
	height: 152px;
	margin: 5px;
	border-radius: 5px;
	float: left;
	padding: 11px;
	background: #23272A;
}

.cards .card h1 {
	font-size: 36px;
}

.cards .card2 {
	width: 1219.5px;
	height: 152px;
	margin: 5px;
	border-radius: 5px;
	float: left;
	padding: 11px;
	background: #23272A;
}

.cards .card2 h1 {
	font-size: 36px;
}


/*
# STATISTICS SECTION ##00010 to jest od /index#statistics
*/

.statistics {
	width: 840px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
}

.statistics h1 {
	font-size: 48px;
	font-weight: 800;
	color: white;
	text-align: center;
}

.statistics .numbers {
	width: 598.7px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}

.statistics .numbers .stat h1 {
	font-size: 24px;
	font-weight: 400;
	color: #99AAB5;
	line-height: 0;
}

.statistics .numbers .stat span {
	font-size: 48px;
	font-weight: 800;
	color: white;
}

.statistics .numbers .stat {
	float: left;
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
}

/*
# TEAM SECTION ##011 to jest od /index#team
*/

.team {
	width: 100%;
	min-height: 1300px;
	background: #1c1e20;
}

.team h1 {
	text-align: center;
	font-size: 42px;
	font-weight: 900;
	color: white;
}

.team .row {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	width: 636.8px;
	text-align: center;
}

.team .row2 {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	width: 723.07px;
	text-align: center;
}

.team .row3 {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 562px;
	text-align: center;
}

.team .row4 {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 568px;
	text-align: center;
}

.team .u1 {
	text-align: center;
	width: 173.28px;
	height: 208px;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 10px;
	/* border: 1px solid black;*/
}

.team .u2 {
	text-align: center;
	width: 250px;
	height: 208px;
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 0px;
	/* border: 1px solid black;*/
}

.team .u1p {
	text-align: center;
	width: 173.28px;
	height: 208px;
	margin-top: 5px;
	margin-left: 10px;
	/* border: 1px solid black;*/
}

.team .u3 {
	text-align: center;
	width: 173.28px;
	height: 208px;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 10px;
}

.team .u4 {
	text-align: center;
	width: 250px;
	height: 208px;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 35px;
}

.team .u5 {
	text-align: center;
	width: 173.28px;
	height: 208px;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 10px;
}

.team .u6 {
	text-align: center;
	width: 173.28px;
	height: 208px;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 10px;
}

.team .u7 {
	text-align: center;
	width: 173.28px;
	height: 208px;
	margin-top: 5px;
	margin-left: 0px;
}

.team .u8 {
	text-align: center;
	width: 173.28px;
	height: 208px;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 20px;
}

.team .u9 {
	text-align: center;
	width: 175px;
	height: 208px;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 20px;
}

.team .u10 {
	text-align: center;
	width: 282px;
	height: 208px;
	margin-top: 5px;
	margin-left: 0px;
}

.team .u11 {
	text-align: center;
	width: 173.28px;
	height: 208px;
	margin-top: 5px;
	margin-left: 0px;
}

.team .member img {
	border-radius: 50%;
	width: 128px;
	padding: 8px;
	border: 2px solid #99AAB5;
	margin-bottom: 12.5px;
	transition-duration: 0.3s;
}

.team .member img:hover {
	padding: 0px;
	width: 144px;
	border: 2px solid transparent;
	transform: rotate(5deg);
}

.team .member .name {
	margin-top: 12.5px;
	font-size: 24px;
	font-weight: bold;
}


/*
# PLUGIN SECTION ##012 to jest od /dashboard/ID/PLUGIN/
*/

.modules {
	width: 1200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.modules .head {
	width: 1200px;
	height: auto;
}

.modules .head .back {
	border-radius: 5px;
	padding: 12px 14px;
	background: #2a5ee8;
	transition-duration: 0.3s;
	margin-left: 25px;
}

.modules .head .back:hover {
	background: #1b3c96;
}

.modules .head .redb {
	border-radius: 5px;
	padding: 12px 14px;
	background: #ed4e4e;
	transition-duration: 0.3s;
	margin-left: 5px;
}

.modules .head .redb:hover {
	background: #8f2f2f;
}

.modules .title {
	color: white;
	font-weight: 700;
	font-size: 26px;
}

.modules .commands {
	margin-top: 15px;
	margin-bottom: 200px;
	width: 1200px;
}

.modules .commands .cmd {
	background-color: #2C2F33;
	border-radius: 10px;
	width: 391.5px;
	height: 46px;
	float: left;
	line-height: 33px;
	margin: 3px;
}


.modules .commands .cmd h1 {
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 18px;
	font-weight: 400;
}

.modules .commands .cmd p {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 15px;
	font-weight: 200;
}

.modules .commands .cmd .cmdHR {
	margin-top: 46px;
	margin-left: 5px;
	margin-right: 5px;
}

.modules .commands .cmd .form {
	float: right;
	margin-top: 12px;
	margin-right: 10px;
	line-height: 30px;
}

.modules .body .logs {
	width: 1065px;
	margin-left: auto;
	margin-right: auto;
}

.modules .body .logs .f1 {
	margin-top: 5px;
	margin-bottom: 25px;
	background-color: #2C2F33;
	border-radius: 10px;
	padding: 20px;
	width: 1024px;
	height: 20px;
}

.modules .body .logs .f2 {
	margin-top: 5px;
	margin-bottom: 25px;
	background-color: #2C2F33;
	border-radius: 10px;
	padding: 20px;
	width: 1024px;
	height: 60px;
}

.modules .body .logs .f3 {
	margin-top: 5px;
	margin-bottom: 25px;
	background-color: #2C2F33;
	border-radius: 10px;
	padding: 20px;
	width: 1024px;
	height: 20px;
}

.modules .body .logs .f4 {
	margin-top: 5px;
	margin-bottom: 25px;
	background-color: #2C2F33;
	border-radius: 10px;
	padding: 20px;
	width: 1024px;
	height: 20px;
}

.modules .body .logs input {
	margin-left: 42px;
	margin-right: 1px;
	margin-bottom: 15px;
}

.modules .body .logs select {
	margin-top: 5px;
	margin-bottom: 15px;
	width: 1064px;
	padding: 16px 20px;
	border: 1px solid #2C2F33;
	border-radius: 10px;
	background-color: #2C2F33;
	color: white;
}

.modules input {
	margin-left: 42px;
	margin-right: 1px;
	margin-bottom: 15px;
	width: 100%;
}

.modules select {
	margin-top: 5px;
	margin-bottom: 15px;
	width: 100%;
	padding: 16px 20px;
	border: 1px solid #000;
	border-radius: 10px;
	background-color: #2C2F33;
	color: white;
}

.modules input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid #000;
	background-color: rgb(43, 47, 51);
	border-radius: 10px;
	color: white;
}

.modules label img {
	width: 85%;
	height: auto;
}



.tables .title {
	color: white;
	font-weight: 700;
	font-size: 26px;
}

.tables .medium {
	margin: 5px;
	background: #2f3136;
	width: 258px;
	height: 88px;
	float: left;
	border-radius: 5px;
	padding: 16px;
}

.tables .medium .title {
	color: #b9bbbe;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.tables .medium .var {
	color: #fff;
	font-size: 33px;
	font-weight: 800;
}

.tables .medium .foot {
	font-family: 'Open Sans', sans-serif, Helvetica, arial, sans-serif;
	margin-top: 10px;
	color: #b9bbbe;
    font-size: 12px;
    font-weight: 600;
}

.tables .medium .foot img {
	float: left;
	width: 17px;
	height: 17px;
	/* display: none; */
}

.tables .table1 {
	margin: 5px;
	padding: 16px;
	border-radius: 5px;
	background: #2f3136;
	width: 1158.5px;
	height: 400px;
	font-size: 14px;
	font-weight: 600;
	color: white;
}

.tables .table1 p {
	text-align: center;
	vertical-align: middle;
}


.settings {
	width: 1200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.settings input {
	margin-left: 42px;
	margin-right: 1px;
	margin-bottom: 15px;
	width: 100%;
}

.settings select {
	margin-top: 5px;
	margin-bottom: 15px;
	width: 100%;
	padding: 16px 20px;
	border: 1px solid #000;
	border-radius: 10px;
	background-color: #2C2F33;
	color: white;
}

.settings input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid #000;
	background-color: rgb(43, 47, 51);
	border-radius: 10px;
	color: white;
}

.settings label img {
	width: 85%;
	height: auto;
}

/*
# PAGE EDIT SECTION tu bedzie od /dashboard/ID/server_page
*/

#dTi {
	background-color: #2C2F33;
	padding: 16px;
	width: 660px;
	border-radius: 5px;
	border: 1px solid #7289DA;
	color: #fff;
	font-weight: bold;
	font-size: 32px;
	text-align: center;
	outline: 0;
}

/*
# LEADERBOARD SECTION to jest od /leaderboard/ID/
*/

.leaderboard .head {
	margin-left: auto;
	margin-right: auto;
	width: 1190px;
	background: #2f3136;
	padding: 16px;
	height: 201px;
	margin-bottom: 25px;
	border-radius: 5px;
}

.leaderboard .head img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: left;
    transition-duration: 1s;
}

.leaderboard .head img:hover {
    transform: rotate(360deg);
}

.leaderboard .head .title {
	margin-left: 220px;
	font-size: 52px;
	font-weight: 800;
	color: white;
}

.leaderboard .head .description {
	margin-left: 220px;
	margin-bottom: 25px;
	font-size: 24px;
	font-weight: bold;
}

.leaderboard .head .button {
	background: #7289DA;
	border-radius: 5px;
	padding: 12px 24px;
	font-weight: bold;
	margin-left: 20px;
	transition-duration: 0.3s;
	cursor: pointer;
}

.leaderboard .head .button:hover {
	background: #4e5d96;
}

.leaderboard .body {
	margin-left: auto;
	margin-right: auto;
	width: 1225px;
}

.leaderboard .body .left {
	float: left;
}

.leaderboard .body .right {
	float: right;
	background: #2f3136;
	width: 400px;
	height: 325px; /* 149 */
	border-radius: 5px;
	padding: 16px;
}

.leaderboard .body .right .versitment {
	background: url(../versitments/flax_banner2.svg);
	width: 400px;
	height: 202px;
	line-height: 202px;
	text-align: center;
	color: #99AAB5;
	position: absolute;
}

.leaderboard .body .right .versitment .x {
	cursor: pointer;
    margin-right: 10px;
    top: 0;
	right: -5;
	line-height: 1;
	position: absolute;
}

.leaderboard .body .right .rank {
	width: 369px;
	height: 80px;
	background: linear-gradient(to top right, #7289DA, #2252ff);
	padding: 16px;
	margin-bottom: 6px;
	border-radius: 15px;
	transition-duration: 0.2s;
}

.leaderboard .body .right .rank:hover {
	border-radius: 5px;
	background: linear-gradient(to top right, #7289DA, #2252ff);
}

.leaderboard .body .right .rank .text1 {
	font-size: 18px;
	font-weight: bold;
	color: white;
}

.leaderboard .body .right .rank .text2 {
	font-size: 17px;
	font-weight: 500;
	text-align: center;
	margin-top: 12px;
}

.leaderboard .body .right .rank img {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	border: white solid 1px;
}

.leaderboard .body .fs {
	width: 775px;
	background: #2f3136;
	margin-bottom: 10px;
	border-radius: 60px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	transition-duration: 0.2s;
}

.leaderboard .body .fs:hover{
	width: 755px;
}

.leaderboard .body .fs .title {
	color: white;
	font-size: 21px;
	font-weight: bold;
	float: left;
}

.leaderboard .body .fs strong {
	float: left;
	color: #99AAB5;
	font-size: 18px;
}

.leaderboard .body .fs img {
	border-radius: 50%;
	width: 80px;
	margin-right: 20px;
}

/*
# SERVERS SECTION to jest od /servers/
*/

#searchinput {
	background-color: #202225;
	color: white;
	background-repeat: no-repeat;
	width: 1000px;
	height: 40px;
	font-size: 14px;
	padding: 12px 20px 12px 20px;
	margin-bottom: 12px;
	outline: 0; 
	border: 0;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
}

#searchinput:active { outline: 0; border: 0; }
  
#searchlist {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#searchlist .box {
	background: #2C2F33;
	width: 1000px;
	height: 65px;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

#searchlist .content {
	border-radius: 4px;
	border: none;
	display: block;
	margin-bottom: 5px;
	width: 975px;
	height: 40px;
	padding: 12px;
}

#searchlist img.avatar {
	margin-right: 5px;
	border: 1px solid transparent;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	transition-duration: 0.3s;
}

#searchlist img.icon {
	margin-right: 5px;
	margin-left: 5px;
	width: 18px;
	height: 18px;
	transition-duration: 0.3s;
}

/*#searchlist li {
	background: url(../img/test.png);
	border-radius: 4px;
	padding: 12px;
	width: 975px;
	height: 41px;
	line-height: 41px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

#searchlist .box {
	padding: 0px;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
  
#searchlist .box a {
	text-decoration: none;
	font-size: 18px;
	color: #99AAB5;
	transition-duration: 0.3s;
}

#searchlist li a:hover {
	color: white;
}*/

/*
# ACCOUNT SECTION to jest od /account/
*/

.account {
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	background: #2e3438;
	box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 10px;
	width: 1180px;
	height: 390px;
	padding: 20px;
}

.account .heading .avatar {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	float: left;
}

.account .heading .name {
	font-size: 32px;
	color: white;
	vertical-align: middle;
	font-weight: 800;
	margin-left: 140px;
}

.account .heading .discrim {
	font-size: 18px;
	font-weight: 700;
	color: rgb(172, 172, 172);
	margin-left: 140px;
	margin-bottom: 20px;
}

.account .heading .back {
	border-radius: 5px;
	padding: 12px 14px;
	background: #2a5ee8;
	transition-duration: 0.3s;
	margin-left: 140px;
}

.account .heading .back:hover {
	background: #1b3c96;
}

.account .heading .redb {
	border-radius: 5px;
	padding: 12px 16px;
	background: #ed4e4e;
	font-size: 14px;
	font-weight: 600;
	transition-duration: 0.3s;
	margin-left: 15px;
}

.account .heading .redb:hover {
	background: #8f2f2f;
}

.account .heading .redbn {
	border-radius: 5px;
	padding: 12px 16px;
	background: #ed4e4e;
	font-size: 14px;
	font-weight: 600;
	transition-duration: 0.3s;
	margin-left: 5px;
}

.account .heading .redbn:hover {
	background: #8f2f2f;
}

.account .profile {
	float: none;
}

.account input {
	margin-left: 42px;
	margin-right: 1px;
	margin-bottom: 15px;
	width: 100%;
}

.account select {
	margin-top: 5px;
	margin-bottom: 15px;
	width: 100%;
	padding: 16px 20px;
	border: 1px solid #000;
	border-radius: 10px;
	background-color: #2C2F33;
	color: white;
}

.account input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid #000;
	background-color: rgb(43, 47, 51);
	border-radius: 10px;
	color: white;
}



/*
# MANAGE SERVER SECTION ##013 to jest od /dashboard/ID/
*/

.box1 {
	width: 1220px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	border: 0,1px dotted #99AAB5;
	background: #2e3438;
	box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 10px;
	border-radius: 5px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.box1Icon {
	display: block;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin-top: 4px;
	margin-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
	border: 0,1px dotted #99AAB5;
}

.box1Title {
	width: 777px;
	height: 80px;
	text-align: center;
	color: white;
	margin-bottom: 2px;
	font-weight: bold;
	font-size: 55px;
	margin-left: auto;
	margin-right: auto;
	border: 0,1px dotted #99AAB5;
}

.box1Description {
	width: 555px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-weight: 700;
	border: 0,1px dotted #99AAB5;
}


.box2 {
	width: 1236px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	/*border: 1px dotted #99AAB5;*/
}

.elements2 {
	background: #2C2F33;
	box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 10px;
    border-radius: 5px;
	position: relative;
	/*border: 1px dotted #99AAB5;*/
	margin: 5px;
	width: 400px;
	height: 150px;
	float: left;
	cursor: not-allowed;
	opacity: 0.25;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.3s;
}

.elements2Enabled {
	cursor: pointer;
	opacity: 1.0;
}

.elements2:hover {
	background: #382f34;
}

.elements2Pos {
	margin-top: 20px;
	margin-bottom: auto;
}

.elements2Icon {
	float: left;
	width: 70px;
	/*border: 1px dotted #99AAB5;*/
	height: 70px;
	margin-left: 15px;
	margin-top: 15px;
	margin-right: 10px;
	
}

.elements2Title {
	margin-top: 5px;
	float: left;
	width: 300px;
	/*border: 1px dotted #99AAB5;*/
	height: 35px;
	margin-left: auto;
	font-weight: bold;
	font-size: 25px;
	color: white;
	margin-top: 10px;
	margin-right: auto;
}

.elements2Description {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	font-size: 17px;
	height: 85px;
	/*border: 1px dotted #99AAB5;*/
	max-width: 300px;
	float: left;
	font-weight: 300;
}





/*
# FOOTER SECTION ##014 to jest od footera ktory raz dziala a raz nie 
*/

.footer {
	position: absolute;
	bottom: -2;
	left: 0;
	width: 100%;
	margin: 0;
	font-size: 12px;
	text-align: center;
}

/*
# SCROLLBAR ##015 to jest od scrollbaru
*/

::-webkit-scrollbar {
	height: 5px;
	width: 0px;
}

::-webkit-scrollbar-track {
	background: #2C2F33; 
}
 
::-webkit-scrollbar-thumb {
	background: #7289DA; 
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #99AAB5; 
}
/*
# NAVIGATION BAR ##016 to jest od navbaru
*/

.topnav {
	overflow: hidden;
	background-color: transparent;
	margin: none;
	border: none;
	width: 99.6%;
	font-weight: 650;
	text-transform: uppercase;
	height: 41px;
	margin: 5px;
}

.topnav .lnk {
	float: left;
	color: #b8b8b8;
	text-align: center;
	padding: 12px 24px;
	text-decoration: none;
	font-size: 12px;
	border-radius: 4px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	margin-right: 6px;
}

.topnav .lnk2 {
	float: left;
	color: #b8b8b8;
	text-align: center;
	padding: 9px 20px;
	text-decoration: none;
	font-size: 14px;
	border-radius: 5px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	margin-right: 6px;
}

.topnav .lnk:hover {
	color: white;
	border-radius: 6px;
	width: auto;
	height: auto;
	text-align: center;
	background-color: #2C2F33;
}

.topnav .active {
	color: white;
	border-radius: 6px;
	width: auto;
	height: auto;
	text-align: center;
	background-color: #2C2F33;
}

.topnav-right {
	float: right;
}

.topnav .img {
	float: left;
	text-align: center;
	height: 37px;
	width: 37px;
	margin-right: 10px;
	margin-top: 1.9px;
	margin-left: 3px;
	border-radius: 50%;
}

.topnav .img2 {
	height: 24px;
	width: 24px;
	margin-top: 0;
	margin-right: 3px;
	border-radius: 50%;
}

.topnav .dropdown {
	overflow: hidden;
}
  
.topnav .dropdown .dropbtn { 
	border: none;
	outline: none;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}
  
.topnav .dropdown-content {
	border-radius: 5px;
	display: none;
	position: absolute;
	background-color: #2C2F33;
	min-width: 140px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	top: 42;
	right: 8;
}
  
.topnav .dropdown-content a {
	font-size: 14px;
	transition-duration: 0.4s;
	color: #ddd;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	font-weight: 200;
	text-transform: capitalize;
}
  
.topnav .dropdown-content a:hover {
	color: #fff;
	background-color: #23272A;
	border-radius: 5px;
}
  
.topnav .dropdown:hover .dropdown-content {
	display: block;
}



.topnav-mobile {
	overflow: hidden;
	background-color: transparent;
	margin: none;
	border: none;
	width: 100%;
	height: 41px;
}

.topnav-mobile .lnk {
	float: left;
	color: #b8b8b8;
	text-align: center;
	padding: 11px 20px;
	text-decoration: none;
	font-size: 14px;
	border-radius: 5px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.topnav-mobile .lnk:hover {
	/* background-color: #7289DA; */
	color: white;
	transform: scale(1.1);
}

.topnav-mobile  .lnk.active {
	/* background-color: #7289DA; */
	color: white;
}

.topnav-mobile-right {
	float: right;
}

.topnav-mobile img {
	float: left;
	text-align: center;
	height: 37px;
	width: 37px;
	border-radius: 50%;
}


/*
# OTHER ##017
*/

.right-pos {
	float: right;
}

.left-pos {
	float: left;
}

/*
# ICONS ##018 to jest od ikonek na /dashboard/ID i /dashboard/ID/PLUGIN
*/

.icodcstat {
	vertical-align: middle;
	color: white;
	width: 20px;
	height: 20px;
}

.icopremium {
	border-radius: 10px;
	width: 25px;
	height: 8px;
	color: rgb(244, 255, 95);
	background-color: rgba(238, 255, 0, 0.425);
	font-size: 10px;
}

.iconew {
	border-radius: 10px;
	width: 25px;
	height: 8px;
	color: white;
	background-color: rgb(68, 179, 127);
	font-size: 10px;
}


.icobeta {
	border-radius: 10px;
	padding: 4px 10px;
	color: white;
	background-color: #42bcf5;
	font-size: 10px;
}

.icoline {
	width: 100%;
	height: 0px;
	border: 1px solid gray;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
}



/*
# NO RESPONSIVE ##019
*/




/* tu bedzie komunikat ze strona nie jest jeszcze responsywna */





/*
# SHINE BUTTON ANIMATION   ##020
# https://codepen.io/wnm210/pen/qBaBKbr
*/

:root {
	--shine-degree: 120deg;
	--shine-color: rgba(255, 255, 255, 0.2);	
}

.pluginLoadingImg {
	position: relative;
	overflow: hidden;
	font-size: 1.1rem;
	height: 140px;
	width: 140px;
	border-radius: 50%;
	margin-bottom: 15px;
	background-color: #2C2F33;
}

.pluginLoadingImg::before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(var(--shine-degree)), color-stop(transparent), color-stop(var(--shine-color)), to(transparent));
	background: linear-gradient(var(--shine-degree), transparent, var(--shine-color), transparent);
}

.pluginLoadingButton {
	position: relative;
	overflow: hidden;
	font-size: 1.1rem;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	margin-top: 10px;
	margin-bottom: 1px;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
	background-color: #2C2F33;
}

.pluginLoadingButton::before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(var(--shine-degree)), color-stop(transparent), color-stop(var(--shine-color)), to(transparent));
	background: linear-gradient(var(--shine-degree), transparent, var(--shine-color), transparent);
}



.pluginLoadingTitle {
	position: relative;
	overflow: hidden;
	font-size: 1.1rem;
	height: 30px;
	width: 500px;
	border-radius: 50px;
	margin-bottom: 10px;
	background-color: #2C2F33;
}

.pluginLoadingTitle::before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(var(--shine-degree)), color-stop(transparent), color-stop(var(--shine-color)), to(transparent));
	background: linear-gradient(var(--shine-degree), transparent, var(--shine-color), transparent);
}



.pluginLoadingDescription {
	position: relative;
	overflow: hidden;
	font-size: 1.1rem;
	height: 20px;
	width: 350px;
	border-radius: 50px;
	margin-bottom: 5px;
	background-color: #2C2F33;
}

.pluginLoadingDescription::before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(var(--shine-degree)), color-stop(transparent), color-stop(var(--shine-color)), to(transparent));
	background: linear-gradient(var(--shine-degree), transparent, var(--shine-color), transparent);
}



.pluginLoadingAnimation::before {
	-webkit-animation: shine 2s ease-in-out infinite;
		animation: shine 2s ease-in-out infinite;
}

.shineButtonGreen {
	height: 40px;
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	display: block;
	font-size: 16px;
	font-weight: bold;
	border-radius: 4px;
	text-align: center;
	background-color: #43b581;
}

.shineButtonGreen::before {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(var(--shine-degree)), color-stop(transparent), color-stop(var(--shine-color)), to(transparent));
	background: linear-gradient(var(--shine-degree), transparent, var(--shine-color), transparent);
}

.noShineButtonGray {
	height: 40px;
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	display: block;
	font-size: 16px;
	font-weight: bold;
	border-radius: 4px;
	text-align: center;
	background-color: #2C1C25;
}
 
#containerCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

#contentCenter {
	flex: 0 0 120px;
}

@-webkit-keyframes shine {
  0% {
    left: -100%;
    -webkit-transition-property: left;
    transition-property: left;
  }
  60%,
  100% {
    left: 100%;
    -webkit-transition-property: left;
    transition-property: left;
  }
}

@keyframes shine {
  0% {
    left: -100%;
    -webkit-transition-property: left;
    transition-property: left;
  }
  60%,
  100% {
    left: 100%;
    -webkit-transition-property: left;
    transition-property: left;
  }
}

.pluginFoots .container {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
		justify-content: center;
	-webkit-box-align: center;
		align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 700px;
	margin-bottom: 25px;
}





/*
# TOGGLES FROM CODEPEN (wcale nie jest tak ze mi sie nie chcialo) ##024 to jest od przelacznikow
# https://codepen.io/aaroniker/pen/ZEYoxEY
*/

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
	input[type=checkbox]:after, input[type=radio]:after {
	  content: '';
	  display: block;
	  left: 0;
	  top: 0;
	  position: absolute;
	  -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
	  transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
	  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
	  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
	}
	input[type=checkbox]:checked, input[type=radio]:checked {
	  --b: var(--active);
	  --bc: var(--active);
	  --d-o: .3s;
	  --d-t: .6s;
	  --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
	}
	input[type=checkbox]:disabled, input[type=radio]:disabled {
	  --b: var(--disabled);
	  cursor: not-allowed;
	  opacity: .9;
	}
	input[type=checkbox]:disabled:checked, input[type=radio]:disabled:checked {
	  --b: var(--disabled-inner);
	  --bc: var(--border);
	}
	input[type=checkbox]:disabled + label, input[type=radio]:disabled + label {cursor: not-allowed;}
	input[type=checkbox]:hover:not(:checked):not(:disabled), input[type=radio]:hover:not(:checked):not(:disabled) {--bc: var(--border-hover);}
	input[type=checkbox]:focus, input[type=radio]:focus {box-shadow: 0 0 0 var(--focus);}
	input[type=checkbox]:not(.switch), input[type=radio]:not(.switch) {width: 21px;}
	input[type=checkbox]:not(.switch):after, input[type=radio]:not(.switch):after {opacity: var(--o, 0);}
	input[type=checkbox]:not(.switch):checked, input[type=radio]:not(.switch):checked {--o: 1;}

	input[type=checkbox]:not(.switch) {
	  border-radius: 50%;
	}

	input[type=checkbox]:not(.switch):after {
	  width: 4px;
	  height: 8px;
	  border: 2px solid var(--active-inner);
	  border-top: 0;
	  border-left: 0;
	  left: 7px;
	  top: 4px;
	  -webkit-transform: rotate(var(--r, 20deg));
			  transform: rotate(var(--r, 20deg));
	}

	input[type='checkbox']:not(.switch):checked {--r: 43deg;}
	input[type='checkbox'].switch {
	  width: 38px;
	  border-radius: 11px;
	}

	input[type='checkbox'].switch:after {
	  left: 2px;
	  top: 2px;
	  border-radius: 50%;
	  width: 15px;
	  height: 15px;
	  background: var(--ab, var(--border));
	  -webkit-transform: translateX(var(--x, 0));
			  transform: translateX(var(--x, 0));
	}

	input[type='checkbox'].switch:checked {
	  --ab: var(--active-inner);
	  --x: 17px;
	}

	input[type='checkbox'].switch:disabled:not(:checked):after {opacity: .6;}
  }




@supports (-webkit-appearance: none) or (-moz-appearance: none) {
	input[type=checkbox], input[type=radio] {
		--active: #43B581;
		--active-inner: #fff;
		--border: #99AAB5;
		--background: #2C2F33;
		--disabled: #2C2F33;
		--disabled-inner: #2C2F33;
		-webkit-appearance: none;
		-moz-appearance: none;
		height: 21px;
		outline: none;
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin: 0;
		cursor: pointer;
		border: 1px solid var(--bc, var(--border));
		background: var(--b, var(--background));
		-webkit-transition: background .3s, border-color .3s, box-shadow .2s;
		transition: background .3s, border-color .3s, box-shadow .2s;
	}

	input[type=checkbox]:after, input[type=radio]:after {
		content: "";
		display: block;
		left: 0;
		top: 0;
		position: absolute;
		transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
	}

	input[type=checkbox]:checked, input[type=radio]:checked {
		--b: var(--active);
		--bc: var(--active);
		--d-o: .3s;
		--d-t: .6s;
		--d-t-e: cubic-bezier(.2, .85, .32, 1.2);
	}

	input[type=checkbox]:disabled, input[type=radio]:disabled {
		--b: var(--disabled);
		cursor: not-allowed;
		opacity: 0.9;
	}

	input[type=checkbox]:disabled:checked, input[type=radio]:disabled:checked {
		--b: var(--disabled-inner);
		--bc: var(--border);
	}

	input[type=checkbox]:disabled + label, input[type=radio]:disabled + label {cursor: not-allowed;}
	input[type=checkbox]:hover:not(:checked):not(:disabled), input[type=radio]:hover:not(:checked):not(:disabled) {--bc: var(--border-hover);}
	input[type=checkbox]:focus, input[type=radio]:focus {box-shadow: 0 0 0 var(--focus);}
	input[type=checkbox]:not(.switch), input[type=radio]:not(.switch) {width: 21px;}
	input[type=checkbox]:not(.switch):after, input[type=radio]:not(.switch):after {opacity: var(--o, 0);}
	input[type=checkbox]:not(.switch):checked, input[type=radio]:not(.switch):checked {--o: 1;}

	input[type=checkbox] + label, input[type=radio] + label {
		font-size: 14px;
		line-height: 21px;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		margin-left: 4px;
	}

	input[type=checkbox]:not(.switch) {border-radius: 50%;}

	input[type=checkbox]:not(.switch):after {
		width: 4px;
		height: 8px;
		border: 2px solid var(--active-inner);
		border-top: 0;
		border-left: 0;
		left: 7px;
		top: 4px;
		-webkit-transform: rotate(var(--r, 20deg));
				transform: rotate(var(--r, 20deg));
	}

	input[type=checkbox]:not(.switch):checked {--r: 43deg;}

	input[type=checkbox].switch {
		width: 38px;
		border-radius: 11px;
	}

	input[type=checkbox].switch:after {
		left: 2px;
		top: 2px;
		border-radius: 50%;
		width: 15px;
		height: 15px;
		background: var(--ab, var(--border));
		transform: translateX(var(--x, 0));
	}

	input[type=checkbox].switch:checked {
		--ab: var(--active-inner);
		--x: 17px;
	}

	input[type=checkbox].switch:disabled:not(:checked):after {opacity: 0.6;}
	input[type=radio] {border-radius: 50%;}

	input[type=radio]:after {
		width: 19px;
		height: 19px;
		border-radius: 50%;
		background: var(--active-inner);
		opacity: 0;
		transform: scale(var(--s, 0.7));
	}

	input[type=radio]:checked {--s: .5;}
}





/*
# HEADERS SECTION ##021 to jest od headerow
*/

.header1 {
    color: #b9bbbe;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header2 {
    color: #fff;
    font-size: 24px;
    font-weight: 650;
    line-height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header3 {
    color: #fff;
    font-size: 14px;
    font-weight: 650;
	width: 520px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header4 {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header5 {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*
# TIP SECTION ##022 to jest od tych komunikatow jak sie na cos najezdza 
*/

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 210px;
	background-color: #000;
	color: #fff;
	text-transform: none;
	font-weight: 400;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -105px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}


/*
# ICONS ##023 ponownie ikonki tylko te lepsze
*/

.icon-new {
	background-color: rgb(68, 179, 127);
	border-radius: 15px;
	width: 44px;
	height: 22px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 10px;
	text-align: center;
	line-height: 21px;
}

.icon-premium {
	border-radius: 15px;
	width: 48px;
	height: 22px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 10px;
	text-align: center;
	line-height: 21px;
	color: rgb(255, 160, 0);
	background-color: rgb(71, 66, 56);
}

.icon-beta {
	background-color: #7289DA;
	border-radius: 15px;
	width: 46px;
	height: 22px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 10px;
	text-align: center;
	line-height: 21px;
}

/*
# RESPONSIVE PAGE ##024 tu ma byc strona responsywna
*/


@media screen and (max-width: 1150px) {
	.notification-box {
		display: none;
	}
}

@media screen and (max-width: 750px) {
	body {filter: blur(100px);}
}

/*
# RICK ASTLEY WITH NEVER GONNA GIVE YOU UP	 a tu jest rickroll
*/

#rr0ll {
	margin: 0;
	outline: 0;
	border: 0;
	z-index: 2147483647;
	position: absolute;
	display: none;
	visibility: hidden;
}

video::-webkit-media-controls {
	display:none !important;
}
