/*
###################################################################################
#                                  Copyright 2020                                 #
#                                wnm210 & vave Team                               #
#                                                                                 #
#                                                                                 #
#                                only for bigg boys                               #
#                                                                                 #
###################################################################################
*/ 

*{
    outline: none;
    border: none;
}

img {
    border-radius: 3px;
}

body {
    font-family: 'Open Sans', sans-serif, Helvetica, arial, sans-serif;
    background: #2C2F33;
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.button {
    display: inline-block;
    background-color: #fff;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: auto;
}

.progress-value {
    animation: load 15s normal forwards;
    border-radius: 5px;
    text-align: center;
    background: #7289DA;
    height: 30px;
    width: 0;
}

.header {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: 600px;
    height: 45px;
    line-height: 45px;
    color: white;
}

.versitm {
    position: relative;
    margin: auto;
    margin-top: 20px;
    width: 648px;
    height: 68px;
    background: transparent;
    cursor: pointer;
}

.dyk1 {
    color: #b9bbbe;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
}

.dyk2 {
    color: #b9bbbe;
    font-size: 16px;
    font-weight: 200;
    line-height: 12px;
    text-align: center;
}

@keyframes load {
    0% { width: 0%; }
    100% { width: 100%; }
}
