/*
###################################################################################
#                                  Copyright 2020                                 #
#                                wnm210 & vave Team                               #
#                                                                                 #
#                                                                                 #
#                                only for bigg boys                               #
#                                                                                 #
###################################################################################
*/

::-webkit-scrollbar {
	height: 5px;
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #2C2F33; 
}
 
::-webkit-scrollbar-thumb {
	background: #7289DA; 
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #99AAB5; 
}
